<footer class="bg-black ph3 pv5 white relative z-9999" id="contact">

    <div class="mw7 center">

        <!--		<div class="measure-narrow center mb4">-->

        <!--			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>-->
        <!--			<p class="tc">{{ .Site.Data.footer.blurb }}</p>-->

        <!--			{{ partial "newsletter-form" . }}-->

        <!--		</div>-->

        <div class="flex-ns justify-center items-center">
            <ul class="flex">
                <li>
                    <a href="mailto:nicoledryburgh@fas.harvard.edu" class="pa2 no-underline db">Email</a>
                </li>
                <li>
                    <a href="https://www.researchgate.net/profile/Nicole-Dryburgh" class="pa2 no-underline db">ResearchGate</a>
                </li>
                <li>
                    <a href="[Find me on Google Scholar &rarr;](https://scholar.google.com/citations?user=Epj8-BQAAAAJ&hl=en&inst=3169411791868728414&oi=ao_)" class="pa2 no-underline db">Google Scholar</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/nicole-dryburgh-phd" class="pa2 no-underline db">LinkedIn</a>
                </li>
            </ul>
        </div>

        <div class="flex-ns justify-center items-center">

            <ul class="flex">
                <li><a href="#about-me" class="pa2 no-underline db">About</a></li>

                <li><a href="#research" class="pa2 no-underline db">Research</a></li>

                <li><a href="#contact" class="pa2 no-underline db">Contact</a></li>
            </ul>

        </div>

        <div class="f6 tc grey-3 mt3 ">
            &copy; 2025 Nicole Dryburgh. All Rights Reserved.
        </div>
    </div>

</footer>

