<nav data-nav class="site-header flex justify-between items-center">

	<!-- Logo -->
<!--	<a href="/" class="pa3 db mr4 h-100 flex-none no-underline b">-->
<!--&lt;!&ndash;		<img src="/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>&ndash;&gt;-->
<!--		Nicole Dryburgh-->
<!--	</a>-->

	<!-- Primary Nav -->
	<div data-mobile-menu class="mobile-menu-container">
		<svg viewBox="0 0 24 24" width="24" height="24" class="mobile-menu-icon">
			<rect class="menu-icon-top mobile-menu-inner" y="6" width="24" height="2" />
			<rect class="menu-icon-middle mobile-menu-inner" y="12" width="24" height="2" />
			<rect class="menu-icon-bottom mobile-menu-inner" y="18" width="24" height="2" />
		</svg>
	</div>

	<ul class="flex f5 nav-menu tc b">
		<li><a href="#about-me" class="pa2 no-underline db">About</a></li>

		<li><a href="#research" class="pa2 no-underline db">Research</a></li>

		<li><a href="#contact" class="pa2 no-underline db">Contact</a></li>
	</ul>

</nav>
