<div class="pv5 ph3 flex justify-center justify-start-ns content">
    <div class="mw6">
        <h2 class="f2 b lh-title mb3" id="{{ .heading | urlize }}">{{ .heading }}</h2>
        <div class="mb0">
            {{ .text | markdownify }}
        </div>
        {{ with .interests }}
        <div class="">
            <h3 class="f4 b mt3 mb1">Interests</h3>
            <ul class="pl3 initial">
                {{ range . }}
                <li class="mb2">{{ . }}</li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
</div>
